$color-primary: #39aea9;
$color-primary-light: #3bacb6;
$color-primary-dark: #2f8f9d;
$color-secondary-light: #f8cb2e;
$color-secondary-dark: #ae8e20;
$color-tertiary-light: #b4a4d8;
$color-tertiary-dark: #8f76c5;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;

//GIRD
$grid-width: 114rem;
$vertical-gap: 8rem;
$horizontal-gap: 6rem;
