$color-primary: #5eaaa8;
$color-primary-light: #93bdb6;
$color-primary-dark: #559997;
$color-secondary-light: #f9d558;
$color-secondary-dark: #b69936;
$color-tertiary-light: #c3b6e0;
$color-tertiary-dark: #9482bb;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #072227;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;

//GIRD
$grid-width: 114rem;
$grid-width-tab: 55rem;
$vertical-gap: 8rem;
$horizontal-gap: 6rem;

/*
#3bacb6;
#2f8f9d;
#4fbdba;
 #35858b;

 #68A7AD
 #99C4C8
 $color-primary-light: #4fbdba;
$color-primary-dark: #35858b;

$color-primary-light: #a3d2ca;
$color-primary-dark: #5eaaa8;

$color-secondary-light: #f8cb2e;
$color-secondary-dark: #ae8e20;
*/
