.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  // &-text {
  //   grid-column: 1/7;
  // }
  // &-imgs {
  //   grid-column: 7/13;
  // }
  // &-card {
  //   &-1 {
  //     grid-column: 1/4;
  //   }
  //   &-2 {
  //     grid-column: 4/7;
  //   }
  //   &-3 {
  //     grid-column: 7/10;
  //   }
  //   &-4 {
  //     grid-column: 10/13;
  //   }
  // }
}

[class^="col-"] {
  // background-color: orangered;
  // padding: 1.2rem;
}
.col {
  &-1-of-2 {
    grid-column: 1 / span 6;
  }
  &-2-of-2 {
    grid-column: span 6/-1;
  }
  &-1-of-3 {
    grid-column: 1 / span 4;
  }
  &-2-of-3 {
    grid-column: 5 / span 4;
  }
  &-3-of-3 {
    grid-column: span 4/-1;
  }
  &-2-of-3--span-2 {
    grid-column: 5/13;
  }
  &-1-of-4 {
    grid-column: 1 / span 3;
  }
  &-2-of-4 {
    grid-column: 4 / span 3;
  }
  &-3-of-4 {
    grid-column: 7 / span 3;
  }
  &-4-of-4 {
    grid-column: 10 / span 3;
  }
  &-3-of-4--span-2 {
    grid-column: 7 / span 6;
  }
  &-2-of-4--span-3 {
    grid-column: 4 / span 9;
  }
  &-all {
    grid-column: 1/-1;
  }
}
