.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    text-align: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: $color-white;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
    transition: all 0.4s ease;
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.5rem 2rem rgba($color-black, 0.15);
    }
    &:active {
      transform: translateY(0.1rem);
      box-shadow: 0 2.5rem 5rem rgba($color-black, 0.15);
    }
    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 2.5rem;
      right: 2.5rem;
      height: 5rem;
      width: 5rem;
    }
  }
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    @include respond(phone) {
      margin-top: 2.5rem;
    }
    &,
    &::after,
    &::before {
      background-color: #0e2b2f;
      border-radius: 1.6rem;
      display: inline-block;
      width: 3rem;
      height: 2px;
      transition: all 0.4s ease;
      @include respond(phone) {
        width: 2.2rem;
        height: 1.3px;
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.8rem;
      @include respond(phone) {
        top: -0.6rem;
      }
    }
    &::after {
      top: 0.8rem;
      @include respond(phone) {
        top: 0.6rem;
      }
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
    @include respond(phone) {
      top: -0.6rem;
    }
  }
  &__button:hover &__icon::after {
    top: 1rem;
    @include respond(phone) {
      top: 0.6rem;
    }
  }
  &__background {
    position: fixed;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    // transform: scale(60);
    transition: all 0.8s cubic-bezier(0.83, 0, 0.07, 1);
    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
      height: 3.5rem;
      width: 3.5rem;
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(65);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  &__checkbox:checked ~ &__button &__icon {
    & {
      background-color: transparent;
    }
    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(225deg);
    }
  }

  &__nav {
    // visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 0;
    visibility: hidden;
    top: 0;
    right: 0;
    z-index: 1500;
    // transform: translateX(8rem);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    list-style: none;
    @include absCenter;
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 3.2rem;
  }
  &__item {
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 2rem 1.2rem;
      text-decoration: none;
      color: $color-grey-light-1;
      background-image: linear-gradient(
        115deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s ease-in-out;
      @include respond(tab-port) {
        font-size: 2.7rem;
      }
      @include respond(phone) {
        font-size: 2.2rem;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary-dark;
      transform: translateX(1rem);
    }
    span {
      margin-right: 1.6rem;
    }
  }
}
// .transform-scale {
//   transform: scale(60);
// }
// .navigation__nav.show {
//   opacity: 1;
//   width: 100%;
//   // visibility: visible;
//   // transform: translateX(-2rem);
// }
