.composition {
  position: relative;
  height: 20rem;
  @include respond(tab-port) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
  }

  &__photo {
    display: inline-block;
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 1rem;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 1.2rem;
    @include respond(tab-port) {
      position: relative;
      width: 70%;
    }
    @include respond(phone) {
    }
    &--p1 {
      left: -3rem;
      top: -2rem;
      @include respond(tab-port) {
        left: 0;
        top: 1rem;
      }
    }
    &--p2 {
      right: -1rem;
      top: 2rem;
      @include respond(tab-port) {
        left: 0;
        top: -1rem;
        transform: scale(1.2);
        z-index: 100;
      }
    }
    &--p3 {
      top: 16rem;
      left: 8rem;
      @include respond(tab-port) {
        left: 0;
        top: 1rem;
      }
    }
    // &:hover {
    //   // outline: 0.6rem solid $color-primary;
    //   transform: scale(1.1) translateY(0.5rem);
    //   box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
    //   z-index: 1;
    //   @include respond(tab-port) {
    //     outline: 0 solid transparent;
    //     transform: scale(1) translateY(0);
    //     box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    //     z-index: 0;
    //   }
    // }
  }
  // &:hover &__photo:not(:hover) {
  //   transform: scale(0.95);
  //   @include respond(tab-port) {
  //     transform: scale(1);
  //   }
  // }
}
